.list__container {
    display: flex;
    /* делаю флекс контейнер */
    flex-wrap: wrap;
    /* разрешаю переносы */
    margin: 0;
    padding: 0;
    /* обнуляю маргины падинги*/
    list-style-type: none;
    /* убираю точки в ли */
}

.list__item {
    width: 190px;
    margin: var(--spacing-medium);
    border-radius: var(--border-radius-small);
    background-color: var(--color-white);
    cursor: pointer;
}

.list__item a {
    text-decoration: none;
    /* удаляю нижнее подчеркивание у ссылки */
    color: var(--color-black);
    text-align: center;
    
}
.person__photo {
    width: 100%;
    height: 260px;
    object-fit: cover;
    /* растягивание */
    object-fit: top center;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}
