.wrapper {
    --color-name: var(--color-violet);
    margin-top: 45px;
}

.person__name {
    font-weight: var(--font-bold);
    border-radius: 
      /* сверху top */
      var(--border-radius-small)
      /* right справа */
      var(--border-radius-small)
      /* bottom снизу */
      var(--border-radius-small)
      /* left слева */
      0;
    padding: var(--spacing-small);
    font-size: var(--font-size-subheader);
    color: var(--color-white);
    background-color: var(--color-violet);
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* перенос */
    border-left: 5px solid var(--color-violet);
    border-radius: var(--border-radius-small);
    padding: var(--spacing-medium);
}
